body{
    background-color:white;
}

table, td, th {
    border-bottom: 2px solid;
    border-collapse: collapse;
}

td,th{
    padding: 10px;
    border-color: #96d4d9;
}

th{
    background-color: dodgerblue;
}

tr:nth-child(even){
    background-color: aquamarine;
}

tr:hover{
    background-color: lightgrey;
}


.container{
margin-left: 30%;

}